src/main/resources/schemas/professors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="professors">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="professor" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element name="name" type="xsd:string" minOccurs="1"/>
                            <xsd:element name="bio" type="xsd:string" minOccurs="1"/>

                            <xsd:element name="skills">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="skill" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="publications">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="publication" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attribute name="year" type="xsd:int" use="required"/>
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>

                        </xsd:sequence>

                        <xsd:attribute name="id" type="xsd:int" use="required"/>

                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
